# React Native
# macOS files
.DS_Store
# Xcode
build/
DerivedData/
*.xcworkspace
*.xcodeproj
*.xcuserdatad
*.xcuserdata/
*.moved-aside
*.swp
# Android
android/.gradle/
android/app/build/
android/.idea/
android/local.properties
android/**/local.properties
android/gradle-wrapper.jar
android/captures/
android/.cxx/
*.keystore
# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
.pnpm-debug.log
# Metro / Expo
.expo/
.expo-shared/
metro-cache/
.cache/
# CocoaPods
ios/Pods/
ios/Podfile.lock
# temp files
*.tmp
*.temp
tmp/
# Swift Package Manager
.swiftpm/
# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
# VS Code
.vscode/
# Python
__pycache__/
*.py[cod]
*$py.class
.python-version
env/
venv/
venv.bak/
.venv/
.Python
pip-wheel-metadata/
.wheelhouse/
*.egg-info/
.eggs/
# Poetry
poetry.lock
# PyCharm
.idea/
*.iml
# Distribution / packagin# Distribution / packagin# Distribution / packagin# Distributi# Ins# Distribution / packag
pip-pip-pip-pip-directory.txpip-Unit test /pip-pip-p
htmhtmhtmhtmht
.n.n.n.n.n.nag.n.n.n.n.ne.*
.pytest_cache/.pytest_csis/
coveracovxml
nosnosnosnosnosnosvenosnosnosnosnosnoannosnosnosnocal_nosnosnosnosnosnosvenosdb.sqlite3-journal
# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
# Misc
*.log
